@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	font-family: "program", sans-serif;
	text-decoration: none;
	background-color:#1aaa98;
}
h3{
	font-family: "program", sans-serif;
	font-size: 15pt;
	font-weight: bold;
	font-kerning: auto;
}
h1{
	font-family: "program", sans-serif;
	font-size: 35pt;
	font-weight: bold;
	font-kerning: auto;
	color: #1aaa98;
	
}
p{
	font-family: "program", sans-serif;
	font-size: 10pt;
	font-kerning: 1.25;
	line-height: 1.25;		
}

.reel{
	width: 855px;
	height: 482px;
	margin:0 auto;
}
.nav{
	font-size: 16px;
	height: 145px;
	position: relative;
   	margin: 0;
   	padding: 0;
	left:0;
  	overflow: visible;
	top: 0;
	width: 100%;
	box-shadow: 0px -10px 30px gray;
	text-align: center;
	text-decoration: none;
	z-index:1;
	background-color:white;
	border-bottom:solid thin #1aaa98;

}
/*////////////////////////left side nav bar/////////////////////*/
.homebtncontainer{
	margin-top: 20px;
	margin-left: 10px;
	width:320px;
	height:100px;
	float: left;	
	z-index:0;
	overflow: hidden;

}
.homebtnimg {
	float: left;
	font-family: "program", sans-serif;
	text-align: left;
	text-decoration: none;
	color: #1aaa98;
	overflow: hidden;
	display: block;
	font-size: 50px;
	width:150px;
	position:absolute;
	text-shadow: 0px 3px 5px lightgray;
}
.homebtn {
	float: right;
	font-family: "program", sans-serif;
	text-align: right;
	text-decoration: none;
	color: #1aaa98;
	overflow: hidden;
	display: block;
	font-size: 50px;
	width: 200px;
	position: relative;
	text-shadow: 0px 3px 5px lightgray;
	padding: 20px 0px 0px 0px;
}
.homebtn:hover{
	transition:ease .5s;
	opacity:.7;
}
.homebtnimg:hover{
	transition:ease .5s;
	opacity:.7;
}

.homebtn2 {
	float: bottom;
	font-family: "program", sans-serif;
	font-style: bold;
	padding: 60px 0px;
	width: 400px;
	text-align: center;
	text-decoration: none;
	color: black;
	overflow: hidden;
	display: block;
	font-size: 20px;
	position: relative;
	text-shadow: 0px 3px 5px lightgray;
}
/*/////////////////////rightside nav bar/////////////////////*/
.navbar{
	position: relative;
	background-color: white;
	height:37px;
	width:300px;
	margin-top: 50px;
	float: right;
	overflow:visible;
	border-radius: 5px 0 0 5px;
	z-index:0;
	padding: 3px 10px 3px 10px;
	border:#1aaa98 thin solid;
	border-right:none;
	box-shadow: 0px 1px 15px -3px #AEC7D4;

}

.btn {
    float: left;
	font-family: "program", sans-serif;
	font-style: bold;
	padding: 10px 8px 10px 8px;
	text-decoration:none;
	text-align: center;
	color: black;
	overflow:hidden;
	display:block;
	font-size: 17px;

}
.btn:hover {
	color:#1aaa98;
	text-shadow: 0px 0px 5px #9BDDFF;
	transition:ease .5s;
}

.slideshowContainer{
	
}
/*///////////////////////homepagetext////////////////////*/
.mainInfo{
	position:relative;
	margin: 300px 0px 0px 0px;
	padding-bottom: 0px;
	height: auto;
	align-content: center;
	background-color: white;
	border-top:solid thin #1aaa98;

}
.mainInfoText{
	position: inherit;
	padding:10px 10px;
	margin: 3px auto;
	text-align: center;
	height: 190px;
	width: 500px;
	background-color: white;
}
/*////////////////////////footer//////////////////////*/
.footer{
	text-decoration:none;
	height:auto;
	width: 100%;
	background-color:#1aaa98;
	position: static;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
.icon{
	margin: 5px 5px;
	height: 100px;
	width: 50px;
	color: #1aaa98;
	background-color: white;
}
.icon:hover{
	transition:ease .5s;
	opacity: .3;
}
/*////////////////////////////aboutpage////////////////*/
.aboutMe{
	position:relative;
	overflow: visible;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
}
.aboutMeText{
	display:inline-block;
	position: static;
	overflow: hidden;
	margin-top: 10px;
	padding:10px;	
	height: 250px;
	width: 270px;
	text-align: left;
}
.aboutMeImage{
	z-index:1;
	position: relative;
	overflow: visible;
	height: 0px;
	width: 0px;
	right: 150px;
	margin-left: auto;
	margin-right: auto;
	top:-245px;
}


/*////////////////////////////resumepage////////////////*/
.resume{
	position:relative;
	overflow: hidden;
	margin: 145px 0px 0px 0px;
	padding-top: 70px;
	padding-bottom: 100px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
}
.resumeBlock{
		position:relative;
		display:inline-block;
		margin:1px 1px 1px 1px;
		box-shadow: 0px 1px 15px -3px #AEC7D4;
}


/*//////////////////////////////////watchpage///////////////////////////*/
.playerContainer{
	position:relative;
	overflow: auto;
	margin: 129px 0px 0px 0px;
	padding: 70px 10px 100px 10px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: #2C3B35;
}
.player{
	overflow:hidden;
	border: thin solid #1aaa98; 
}
.messenger{
	overflow:hidden;
	border: thin solid #1aaa98; 
}
#twitchButton{
	width: 100px; 
	margin: 20px auto; 
	border-radius:4px; 
	padding:10px 10px 10px 10px; 
	display:block; 
	text-align:center; 
	font-size:15px; 
	font-weight:bold; 
	text-decoration:none; 
	border:thin solid #1aaa98; 
	color:#1aaa98;
}
#twitchButton:hover{
	background-color:#1C5E4E;
}
/*//////////////////////////////gallerypage/////////////////////////////*/
.gallery{
	position:relative;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 70px 0px 100px 0px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
	
}
.itemContainer{
	position:relative;
	display:inline-block;
	margin:1px 1px 1px 1px;
	
}
.note:hover{
	opacity:.7;
	transition:ease .5s;
}
.note{
	text-decoration:none;
	font-family: "program", sans-serif;
	font-size:14pt;
	visibility: visible;
	position:absolute;
    left:0px;
    top:0px;
    z-index:0;
	padding:50px;
	height:200px;
	width:200px;
	opacity:0;
	background-color: white;
	color:black;
}
/*//////////////////////////////portfoliopage/////////////////////////////*/
.portfolio{
	position:relative;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 70px 0px 100px 0px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
	
}
.portfoliobox{
	position: relative;
	overflow: hidden;
	text-align: center;
	align-content: center;
	height: auto;
	width: 1000px;
	margin: 0px auto;
}
.itemContainer2{
	position:relative;
	display:inline-block;
	margin:10px;
	
}
.note2:hover{
	opacity:.7;
	transition:ease .5s;
}
.note2{
	text-decoration:none;
	font-family: "program", sans-serif;
	font-size:14pt;
	visibility: visible;
	position:absolute;
    left:0px;
    top:0px;
    z-index:0;
	padding:50px;
	height:200px;
	width:200px;
	opacity:0;
	background-color: white;
	color:black;
}
.note3:hover{
	opacity:.7;
	transition:ease .5s;
}
.note3{
	text-decoration:none;
	font-family: "program", sans-serif;
	font-size:14pt;
	visibility: visible;
	position:absolute;
    left:0px;
    top:0px;
    z-index:0;
	padding:0px;
	height:50px;
	width:50px;
	opacity:0;
	background-color: #1aaa98;
	color:black;
}

.modal_btn
{
	width: 100%;
	height: 100%;
	border:none;
	text-decoration:none;
	font-family: "program", sans-serif;
	font-size:14pt;
	visibility: visible;
	position:absolute;
    left:0px;
    top:0px;
    z-index:1;
	padding:50px;
	opacity:0;
	background-color: white;
	color:black;
}

#thumbnail1
{
	background: url('../images/sketches/1.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail2
{
	background: url('../images/sketches/2.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;

}

#thumbnail3
{
	background: url('../images/sketches/3.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail4
{
	background: url('../images/sketches/4.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail5
{
	background: url('../images/sketches/5.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail6
{
	background: url('../images/sketches/6.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail7
{
	background: url('../images/sketches/7.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail8
{
	background: url('../images/sketches/8.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail9
{
	background: url('../images/sketches/9.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail10
{
	background: url('../images/sketches/10.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}
#thumbnail11
{
	background: url('../images/sketches/11.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail12
{
	background: url('../images/sketches/12.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail13
{
	background: url('../images/sketches/13.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail14
{
	background: url('../images/sketches/14.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail15
{
	background: url('../images/sketches/15.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail16
{
	background: url('../images/sketches/16.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail17
{
	background: url('../images/sketches/17.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail18
{
	background: url('../images/sketches/18.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail19
{
	background: url('../images/sketches/19.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

#thumbnail20
{
	background: url('../images/sketches/20.png') no-repeat top left;
	background-size: 300px 300px;
	z-index:0;
}

.modal_btn:hover
{
	opacity:0.7;
	transition:ease .5s;
	cursor:pointer;
}


/*//////////////////////////////indivportfoliopages/////////////////////////////*/
.portfolioCover{
	position:relative;
	overflow: hidden;
	margin: 145px 0px 0px 0px;
	padding: 70px 0px 100px 0px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
	
}


/*///////////////////////////contactpage/////////////////////////////////*/
.contactForm {
	position:relative;
	overflow: visible;
	margin: 0px 0px 0px 0px;
	padding-top: 70px;
	padding-bottom: 100px;
	height: auto;
	width: 100%;
	text-align: center;
	align-content: center;
	background-color: white;
}

.contactForm p {
	margin: 0 1em;
}

.container{
	position:relative;
	display:inline-block;
	overflow: visible;
	padding: 20px;
	height: 400px;
	width: 400px;
	text-align: left;
	align-content: center;
	background-color: white;
    border-radius: 5px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: thin solid #1aaa98;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #1aaa98;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1aaa98;
}

